@font-face {
  font-family: "Sucrose Bold Two";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/sucrose.woff2") format("woff2");
}
@font-face {
  font-family: "IM Fell French Canon Pro";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/im-fell-french-canon-pro.woff2") format("woff2");
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  background: url(road-mountain.png) no-repeat;
  padding-top: 61.93333333%;
  background-size: cover;
  font-family: "Sucrose Bold Two";
}

header h1 {
  position: fixed;
  top: 2rem;
  left: 6rem;
  font-size: 12vw;
  line-height: 0.8;
  margin-top: 0;
  text-align: center;
}

h2 {
  position: fixed;
  top: 11rem;
  left: 6.6rem;
  font-size: 3.42vw;
  line-height: 0.8;
  margin-top: 0;
  text-align: center;
}

header h1 span {
  display: block;
  font-size: 8.75vw;
}

main {
  background: #fff;
  position: relative;
  border: 1px solid #fff;
  font-family: "IM Fell French Canon Pro";
  font-size: 1.4rem;
  padding: 2rem 25%;
  line-height: 1.6;
}



nav {
  position: sticky;
  top: 0;
  background-color: rgb(109, 144, 52);
  padding: 7px;
}

a{
  color: rgb(25, 45, 32);
  text-decoration: none;
  padding: 7px;
  font-size:27px;
}

a:hover{
  color:rgb(109, 144, 52);
  background-color:rgb(25, 45, 32); 
}

p{
  font-size: 25px;
}

h4{
  font-size: 28px;
}