@font-face {
  font-family: "Sucrose Bold Two";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/sucrose.woff2") format("woff2");
}
@font-face {
  font-family: "IM Fell French Canon Pro";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/im-fell-french-canon-pro.woff2") format("woff2");
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  background: url(road-mountain.png) no-repeat;
  padding-top: 61.93333333%;
  background-size: cover;
  font-family: "Sucrose Bold Two";
}

header h1 {
  position: fixed;
  top: 2rem;
  left: 6rem;
  font-size: 12vw;
  line-height: 0.8;
  margin-top: 0;
  text-align: center;
}

h2 {
  position: fixed;
  top: 11rem;
  left: 6.6rem;
  font-size: 3.42vw;
  line-height: 0.8;
  margin-top: 0;
  text-align: center;
}

header h1 span {
  display: block;
  font-size: 8.75vw;
}

main {
  position: relative;
  border: 1px solid #fff;
  font-size: 1.4rem;
  padding: 2rem 25%;
  line-height: 1.6;
}

nav {
  position: sticky;
  top: 0;
  background-color: rgb(109, 144, 52);
  padding: 12px;
}

a{
  color: rgb(25, 45, 32);
  text-decoration: none;
  padding: 7px;
  font-size:27px;
}

a:hover{
  color:rgb(109, 144, 52);
  background-color:rgb(25, 45, 32); 
}

p{
  font-size: 25px;
}

h4{
  font-size: 28px;
}

@keyframes color {
	0%   { background: #cfdbba; }
	20%  { background: #bbdbba; }
	40%  { background: #bbdbba; }
	60%  { background: #badbd4; }
	80%  { background: #bbdbba; }
	100% { background: #cfdbba; }
}

main {
  background: #cfdbba; /* Fallback */
  animation: color 9s infinite linear;
  text-align: center;
  padding: 2em;
}

html{
	background-color:#ff6f69;
	background: radial-gradient(#ff6f69, #ff8b87);
}

.inner-cutout{
	padding: 40px 0;
	display: block;
	background-color:#ff6f69;
	margin: 2%;
	padding-bottom: 40px;
	height: 300px;
	background: radial-gradient(#ff6f69, #ff8b87);
	background-size: 300%;
	background-position:50% 50%;

}
.knockout {
	vertical-align: middle;
	text-align: center;
	background: linear-gradient(110deg, #000000 33%, rgba(0, 0, 0, 0) 33%), linear-gradient(110deg, #252426 34%, #000000 34%);
	background-size: 400%;
	 -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.knockout{
		animation: Gradient 7s ease infinite;
		-webkit-animation: Gradient 15s ease infinite;
		-moz-animation: Gradient 5s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 30% 50%
	}
	50% {
		background-position: 25% 50%
	}
	100% {
		background-position: 30% 50%
	}
	
}



